body {
  margin: 0;
}

.header {
  background-color: #0171f9;
  justify-content: space-between;
  display: flex; /* make all class elements in the same row */
  align-items: center; /* make all class elements in center*/
}
